/* [project]/styles/scss/layout.scss.css [app-client] (css) */
html {
  background-color: #9daaa2;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #efe5b2;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #efe5b2;
  background-image: url("/images/layout/background.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15.5cm;
}

h1#pagename {
  text-align: center;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

a#navicon {
  display: none;
}

footer {
  color: #fff;
  clear: both;
  background-color: #4a3728;
  width: 100%;
}

.footerdiv {
  float: left;
  width: 360px;
  height: 270px;
  margin: 5% 0% 2% 2%;
}

.gocomment {
  color: #efe5b2;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.gocomment:hover {
  color: #cfc69a;
  text-decoration: underline;
}

#callfooterdiv {
  clear: left;
}

img#callicon {
  float: left;
  height: 40px;
  padding-left: 15%;
}

#info {
  clear: left;
  text-align: left;
  margin-top: 3%;
  padding-left: 15%;
  font-family: Times New Roman, Times, serif;
  font-size: 18px;
  line-height: 2;
}

.contact {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -10px;
  left: 20px;
}

img#sponsoredicon {
  float: left;
  height: 52px;
}

.sponsored {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -10px;
  left: 20px;
}

img#sponsored {
  height: 200px;
}

img#secureicon {
  float: left;
  height: 45px;
  padding-left: 15%;
}

.payment {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -10px;
  left: 20px;
}

img#payment {
  height: 200px;
  padding-left: 15%;
}

#copyright {
  text-align: center;
  clear: both;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

@media only screen and (max-width: 1252px) {
  a#navicon {
    display: block;
  }

  nav.navlist {
    background-color: #000;
  }

  nav.navlist ul {
    background-color: #000;
    margin: 0;
    padding: 0;
    display: none;
  }

  nav.navlist li {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 2em;
    list-style: none;
  }

  nav.navlist ul li > a, span > a {
    color: #fff;
    text-align: left;
    text-indent: 20px;
    text-decoration: none;
    display: block;
  }

  nav.navlist ul li a:hover {
    color: #000;
    background-color: #efe5b2;
  }

  a#navicon:hover + ul, nav.navlist ul:hover {
    display: block;
  }

  .dropdown-list {
    background-color: #c0c0d4;
    min-width: 300px;
    padding: 12px 16px;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px;
  }

  .dropdown-list a {
    color: #000;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    color: #000;
    background-color: #efe5b2;
  }

  .dropdown:hover > .dropdown-list {
    display: block;
  }
}

@media only screen and (min-width: 1253px) {
  a#navicon {
    display: none;
  }

  nav.navlist ul {
    background-color: #161616;
    max-width: 100%;
    height: 40px;
    margin: -1px;
    padding: 18px 0 20px 10px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    list-style-type: none;
  }

  nav.navlist li {
    float: left;
    padding: 0 10px 20px 8px;
  }

  nav.navlist ul li > a, span > a {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
  }

  nav.navlist ul li a:hover {
    color: #000;
    background-color: #efe5b2;
  }

  .dropdown-list {
    background-color: #c0c0d4;
    width: 200px;
    padding: 12px 16px;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px;
  }

  .dropdown-list a {
    color: #000;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown a:hover {
    color: #000;
    background-color: #efe5b2;
  }

  .dropdown:hover > .dropdown-list {
    display: block;
  }
}

/*# sourceMappingURL=styles_scss_layout_scss_css_bad6b30c._.single.css.map*/