@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animations */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll-left 15s linear infinite;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.3); /* 30% opacity White */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(212, 175, 55, 0.3); /* 30% opacity Gold */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(183, 149, 11, 0.5); /* Slightly clearer on hover */
}
